.list th {
    border-top: none !important;
}

.list .marked {
    text-decoration: line-through;
    color: #777;
}

.list Button {
    margin-right: 5px !important;
}

.list .table-actions {
    width: 12rem !important;
}
